<h1>Listing Tracks</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Album</th>
      <th>Media type</th>
      <th>Genre</th>
      <th>Composer</th>
      <th>Milliseconds</th>
      <th>Bytes</th>
      <th>Unit price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= link_to track.album.title, album_path(track.album_id) %></td>
        <td><%= track.media_type.name %></td>
        <td><%= track.genre.name %></td>
        <td><%= track.composer %></td>
        <td><%= track.milliseconds %></td>
        <td><%= track.bytes %></td>
        <td><%= track.unit_price %></td>
        <td><%= link_to 'Show', track, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_track_path(track), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tracks %>

<br>

<%= link_to 'New Track', new_track_path %>
