<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Album:</strong>
  <%= @track.album_id %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @track.media_type_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @track.genre_id %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @track.composer %>
</p>

<p>
  <strong>Milliseconds:</strong>
  <%= @track.milliseconds %>
</p>

<p>
  <strong>Bytes:</strong>
  <%= @track.bytes %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @track.unit_price %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
