<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Reports to:</strong>
  <%= @employee.reports_to %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @employee.birthdate %>
</p>

<p>
  <strong>Hiredate:</strong>
  <%= @employee.hiredate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @employee.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @employee.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
