<h1>Listing Invoices</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Customer</th>
      <th>Invoice date</th>
      <th>Billing address</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= link_to invoice.customer.full_name, customer_path(:id=>invoice.customer_id) %></td>
        <td><%= invoice.invoice_date.strftime("%m/%d/%y") %></td>
        <td><%= invoice.billing_address %><br>
            <%= invoice.billing_city %>, <%= invoice.billing_state %> <%= invoice.billing_country %> <%= invoice.billing_postal_code %></td>
        <td><%= invoice.total %></td>
        <td><%= link_to 'Show', invoice, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tracks %>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
