<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer.full_name %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @invoice.invoice_date.strftime("%m/%d/%y") %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @invoice.billing_address %>
</p>

<p>
  <strong>Billing city:</strong>
  <%= @invoice.billing_city %>
</p>

<p>
  <strong>Billing state:</strong>
  <%= @invoice.billing_state %>
</p>

<p>
  <strong>Billing country:</strong>
  <%= @invoice.billing_country %>
</p>

<p>
  <strong>Billing postal code:</strong>
  <%= @invoice.billing_postal_code %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<hr>

<h2>Invoice Lines</h2>

<ol>
<% @invoice.invoice_lines.each do |line| %>
  <li><%= link_to line.track.name, track_path(:id=>line.track_id) %> by <%= line.track.album.artist.name %> - <%= line.unit_price %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
