<h1>Listing Media Types</h1>

<table class="table table-striped table-hover">  
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @media_types.each do |media_type| %>
      <tr>
        <td><%= media_type.name %></td>
        <td><%= link_to 'Show', media_type, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_media_type_path(media_type), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', media_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media type', new_media_type_path %>
