<%= form_for(@invoice_line) do |f| %>
  <% if @invoice_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_line.errors.count, "error") %> prohibited this invoice_line from being saved:</h2>

      <ul>
      <% @invoice_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.number_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :track_id %><br>
    <%= f.number_field :track_id %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br>
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
