<h1>Listing Invoice Lines</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Track</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_lines.each do |invoice_line| %>
      <tr>
        <td><%= link_to invoice_line.invoice_id, invoice_path(:id=>invoice_line.invoice_id) %></td>
        <td><%= invoice_line.track.name %> - <%= invoice_line.track.artist.name %></td>
        <td><%= invoice_line.unit_price %></td>
        <td><%= invoice_line.quantity %></td>
        <td><%= link_to 'Show', invoice_line, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_invoice_line_path(invoice_line), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', invoice_line, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tracks %>

<br>

<%= link_to 'New Invoice line', new_invoice_line_path %>
