<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= link_to @invoice_line.invoice_id, invoice_path(:id=>@invoice_line.invoice_id) %>
</p>

<p>
  <strong>Track:</strong>
  <%= @invoice_line.track.name %> - <%= @invoice_line.track.artist.name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @invoice_line.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_line.quantity %>
</p>

<%= link_to 'Edit', edit_invoice_line_path(@invoice_line) %> |
<%= link_to 'Back', invoice_lines_path %>
